h1 {
  color: darkorchid;
  font-size: x-large;
  padding-left: 40px;
  padding-top: 10px;
}

h2 {
  color: yellow;
  font-size: larger;
  padding-left: 40px;
  padding-top: 10px;
}

h3 {
  color: peru;
  font-size: large;
  padding-left: 40px;
}

h4 {
  color: greenyellow;
  font-size: large;
  padding-left: 40px;
  padding-bottom: 10px;
}
